*{
   /*vai colar na tela-sem borda do pc*/
   margin: 0;
   padding: 0;
}


html {
   height: 100vh;
   font-family: "Franklin Gothic Heavy", sans-serif;
   font-size: 20px;
}
.bodyTrue{
   background-color: #111111;

}

li, a{
   color:black;
   text-decoration: none;


}


a:hover{
   color: black;

}


.container{
   display: block;
   /* altura*/
   height: 100vh;
   vertical-align: top;
    /*background-color: #00b4d8;*/
}


.headerTrue {
   background-color: #a6a6a6;
   display: block;
   height: 15vh;
   width: 100vw;
   text-align: center;
   color: white;
   font-size: 35px;
   position: fixed;
   top: 0;
}


.navTrue {
   background-color: #b2b2b2;
   display: inline-block;
   height: 86vh;
   width: 12vw;
   color: white;
   position: fixed;
   top: 15vh;
}

.mainTrue{
    background-color: #111111;
   display: inline-block;
   /*largura da tela*/
   width: 87vw;
   /* altura*/
   height: 84vh;
   vertical-align: top;
   color: white;
   float: right;
   margin-top: 100px;
}


.mainTrue .card{
   background-color: #4d5b5b;
   /*inline-block da pra mudar o tamanho*/


   height: 300px;
   width: 200px;
   border-radius: 10px;
   margin: 10px;
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;
}
.mainFalse .card{
    /*background-color: #111111;*/
   background-color: #00b4d8;
   /*inline-block da pra mudar o tamanho*/

   height: 300px;
   width: 200px;
   border-radius: 10px;
   margin: 10px;
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;
}
.mainFalse .card:hover{
       background-color: #66dbf3;

}
.card p{
   padding: 2px;
}
.card-detalhesTrue{
   background-color: #4d5b5b;
   /*inline-block da pra mudar o tamanho*/
   text-align: center;
   /*height: 200px;*/
   width: 200px;
   border-radius: 10px;
   /*margin: 10px;*/
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;
   /*margin-top: 10vh;*/
   position: fixed;
   top: 20vh;
}
.card-detalhesFalse{
   background-color: #00b4d8;
   /*inline-block da pra mudar o tamanho*/
   text-align: center;
   /*height: 200px;*/
   width: 200px;
   border-radius: 10px;
   /*margin: 10px;*/
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;
   /*margin-top: 10vh;*/
   position: fixed;
   top: 20vh;

}
.card-detalhesTrue p, .card-detalhesFalse p{
   padding: 5px;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
body::-webkit-scrollbar {
    display: none;
}

.menuTrue{
   background-color: #fffcfc;
   /*inline-block da pra mudar o tamanho*/
   height: 60px;
   width: 9vw;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   font-size: 20px;
   /*para organizar deixar alinhado*/
   float: left;
   text-align: center;
}
.menuFalse{
   background-color: #00b4d8;
   /*inline-block da pra mudar o tamanho*/
   height: 60px;
   width: 9vw;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   font-size: 20px;
   /*para organizar deixar alinhado*/
   float: left;
   text-align: center;
   color: white;

}
.menu_cadastroFalse{
   background-color: #00b4d8;
   /*inline-block da pra mudar o tamanho*/
   height: 60px;
   width: 9vw;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   font-size: 20px;
   /*para organizar deixar alinhado*/
   float: left;
   text-align: center;
   color: white;
    margin-left: 48px;

}
.menu_cadastroTrue{
   background-color: white;
   /*inline-block da pra mudar o tamanho*/
   height: 60px;
   width: 9vw;
   border-radius: 10px;
   /*margin: 10px;*/
   padding: 10px;
   font-size: 20px;
   /*para organizar deixar alinhado*/
   float: left;
   text-align: center;
   color: #000000;
    margin-left: 48px;

}


.menuTrue:hover{
   background-color: white;
   /*border: 2px solid black;*/
   transition: transform .2s;
   transform: scale(0.8);
}
.menuFalse:hover{
   background-color: #03045e;
   /*border: 2px solid black;*/
   transition: transform .2s;
   transform: scale(0.8);

}


.mainTrue .card:hover{
   background-color: #77b6af;
}
/*.pag {*/
/*   background-color: #51f21b;*/
/*   border-radius: 10px;*/
/*   height: 300px;*/
/*   width: 180px;*/
/*   margin: 10px;*/
/*   font-size: 10px;*/
/*   padding: 10px;*/
/*   font-size: 20px;*/
/*   !*para organizar deixar alinhado*!*/
/*   float: left;*/
/*}*/
.home{
    width: 60px;
    float: right;
    margin: 25px;
    transition: transform .2s;
}
.home:hover{
    /*width: 75px;*/
    /*margin: 15px;*/
    opacity: 50%;
    transform: scale(1.2);
}
.cabecalhoTrue, .cabecalhoFalse{
   font-weight: bold;
   display: inline-block;
}
form{
   display: inline-block;
}
.box{
   display: flex;
   align-items: center;
   justify-content: center;
   /*margin-top: 25vh;*/
}
/*.modo-escuro{*/
/*   font-family: Arial, sans-serif;*/
/*   font-size: 16px;*/
/*   float: right;*/
/*   !*margin-left: 10vw;*!*/
/*}*/
.bodyFalse{
   background-color: #caf0f8;
}
.mainFalse{
   display: inline-block;
   /*largura da tela*/
   width: 87vw;
   /* altura*/
   height: 100vh;
   vertical-align: top;
   color: #000000;
   float: right;
   margin-top: 100px;
   background-color: #caf0f8;
}
.navFalse{
   display: inline-block;
   height: 85vh;
   width: 12vw;
   color: white;
   position: fixed;
   top: 15vh;
   background-color: #ffb703;

}
.headerFalse{
   display: block;
   height: 15vh;
   width: 100vw;
   text-align: center;
   color: white;
   font-size: 35px;
   position: fixed;
   top: 0;
   background-color: #03045e;
}

form input, select, button{
   padding: 5px;
   border-radius: 10px;
}
.form-modo-escuro{
   float: right;
   margin-top: 3vh;
}
.botao-modo-escuro{
   background-color: rgba(173, 216, 230, 0);
   border: none;
   float: right;
}
.botao-modo-escuro img{
   width: 50px;
}

.botao-modo-escuro img:hover{
   transition: transform .2s;
   transform: scale(1.4);
   opacity: 50%;
}
.display-block{
   display: block;
}
.mainFalse table, .mainFalse th, .mainFalse td{
   padding: 3px;
   border: black 2px solid;
   background-color: white;
}
.mainFalse th{
   background-color: #00b4d8;
}
.mainFalse td:hover{
   background-color: #bbb8b8;
}

.mainTrue table, .mainTrue th, .mainTrue td{
   padding: 3px;
   border: #000000 2px solid;
   background-color: #b6b4b4;
   color: black;

}
.mainTrue th{
   background-color: #9a9898;
}
.mainTrue td:hover{
   background-color: #dedede;
}
.mainTrue .botao{
   padding: 4px;
   background-color: white;
   margin:30px;
   border-radius: 5px;

}
.mainFalse .botao{
   padding: 4px;
   background-color: #97d9f5;
   /*margin-top:10px;*/
   border-radius: 5px;
   margin: 30px;
}

.mainTrue .botao-display-block{
   padding: 4px;
   background-color: white;
   margin-top:10px;
   border-radius: 5px;
    display: block;
    text-align: center;
}
.mainFalse .botao-display-block{
   padding: 4px;
   background-color: #ffb703;
   /*margin-top:10px;*/
   border-radius: 5px;
   margin: 20px;
    display: block;
    text-align: center;
}
.mainTrue .card-desativado{
   color: #404848;
   background-color: #4d5b5b;
   /*inline-block da pra mudar o tamanho*/
   height: 300px;
   width: 200px;
   border-radius: 10px;
   margin: 10px;
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;
}
.mainTrue .card-desativado:hover{
    background-color: #00b4d8;
}
.icon-dashboard{
   width: 50px;
   float: right;
   margin-top: 25px;
   margin-left: 10px;
   margin-right: 10px;
}
.icon-dashboard:hover{
   transition: transform .2s;
   transform: scale(1.2);
   opacity: 50%;
}
.mainFalse .card-desativado{
   color: #375fd5;
   background-color: #00b4d8;
   /*inline-block da pra mudar o tamanho*/
   height: 300px;
   width: 200px;
   border-radius: 10px;
   margin: 10px;
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;
}
.mainFalse .card-desativado:hover{
    background-color: #00b4d8;
}


    /* Formulário */
.pag {
    background-color: #fb8500;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    /*grid-template-columns: 5fr 5fr;*/
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.pag input, form select, form textarea {
    background-color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    color: #000000;
}

.pag label {
    font-size: 0.9rem;
    color: #000000;
}
.pag button {
    background-color: #00b4d8;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.pag button:hover {
    background-color: #03045e;
}

.pag a {
    background-color: #00b4d8;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    text-align: center;
}

.pag a:hover {
    background-color: #03045e;
}

/* Botões */
.buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Ícones (simulação) */
.pag input::placeholder {
    font-size: 0.9rem;
    color: #03045e;
}
.imagem {
    float: left;
    margin-top: 0px;
    margin-left: 20px;

}
.inicial {
    margin-left: 3vw;
    margin-top: 20px;
    border-radius: 50px;
}
.numero-resultados{
    margin: 15px;
}
table{
    margin-top: 50px;
}


