*{
   /*vai colar na tela-sem borda do pc*/
   margin: 0;
   padding: 0;
}


body, html {
   height: 100vh;
   font-family: "Franklin Gothic Heavy", sans-serif;
   font-size: 20px;
   background-color: #F2BE22;
}


li, a{
   color:black;
   text-decoration: none;


}


a:hover{
   color: black;
}




.container{
   display: block;
   /* altura*/
   height: 100vh;
   vertical-align: top;


}


header {
   background-color: #9363f2;
   display: block;
   height: 100px;
   width: 100vw;
   text-align: center;
   color: white;
   font-size: 35px;
   position: fixed;
   top: 0;

}


nav {
   background-color: #5100ff;
   display: inline-block;
   height: 100vh;
   width: 10vw;
   color: white;
   position: fixed;
   top: 100px;
}


main{
    background-color: #F2BE22;
   display: inline-block;
   /*largura da tela*/
   width: 89%;
   /* altura*/
   height: 1000vh;
   vertical-align: top;
   color: white;
   float: right;
   margin-top: 100px;
}


.card{
   background-color: #5a8883;
   /*inline-block da pra mudar o tamanho*/


   height: 200px;
   width: 200px;
   border-radius: 10px;
   margin: 10px;
   font-size: 20px;
   padding: 10px;
   font-family: Bahnschrift, sans-serif;
   /*para organizar deixar alinhado*/
   float: left;


}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
body::-webkit-scrollbar {
    display: none;
}

.menu{
   background-color: #85F238;
   /*inline-block da pra mudar o tamanho*/
   height: 60px;
   width: 8vw;
   border-radius: 10px;
   margin: 10px;
   padding: 10px;
   font-size: 20px;
   /*para organizar deixar alinhado*/
   float: left;
   text-align: center;
}


.menu:hover{
   background-color: white;
   /*border: 2px solid black;*/
   transition: transform .2s;
   transform: scale(0.8);
}



.card:hover{
   background-color: #77b6af;
}
/*.pag {*/
/*   background-color: #51f21b;*/
/*   border-radius: 10px;*/
/*   height: 300px;*/
/*   width: 180px;*/
/*   margin: 10px;*/
/*   font-size: 10px;*/
/*   padding: 10px;*/
/*   font-size: 20px;*/
/*   !*para organizar deixar alinhado*!*/
/*   float: left;*/
/*}*/