{% extends 'templates.html' %}
{% block conteudo %}
<form action="{{ url_for('cadastro_movimentacao') }}" method="POST" class="pag">
    <label>Quantidade: </label>
    <input type="text" name="form_quantidade">
    <label>Porduto:</label>
    <input type="text" name="form_produto">
    <label>Data:</label>
    <input type="text" name="form_data1">
    <p>Tipo:</p>
    <input id="entrada" type="radio" name="tipo_movimentacao" value="entrada">
    <label for="entrada">Entrada</label>
    <input id="saida" type="radio" name="tipo_movimentacao" value="saida">
    <label for="saida">Saída</label>
    <hr>
    <button>Adicionar</button>
    <button><a href="{{ url_for('lista_movimentacao') }}">Cancelar</a></button>
</form>
{% endblock %}