{% extends 'templates-barra-de-pesquisa.html' %}

{% block head %}
    {% if pesquisa == True: %}
        <a href="{{url_for('movimentacao_func', modo_escuro=modo_escuro)}}"><button>Remover filtro</button></a>
    {% endif %}
{% endblock %}
{% block conteudo %}
    <div class="box">
        <a class="botao-display-block" href="{{url_for('gerar_tabela_movimentacao', modo_escuro=modo_escuro)}}">Gerar tabela</a>
    </div>
    <div class="box">
        <a class="botao-display-block" href="{{url_for('cadastro_movimentacao_func', modo_escuro=modo_escuro)}}">Cadastrar movimentação</a>
    </div>
    {% for movimentacao, produto, funcionario, cat in var_movimentacao %}
        <div class="card">
            <p>ID Movimentação: {{movimentacao.ID_movimentacao}}</p>
            <p>{{produto.nome_produto}} #{{produto.ID_produto}}</p>
<!--            <p>Categoria: cat.nome_</p>-->
            <p>Funcionário: {{funcionario.nome_funcionario}}</p>
            <p>Qtde.:{{movimentacao.quantidade}}</p>
            <p>Data:{{movimentacao.data1}}</p>
            {% if movimentacao.status == True: %}
                <p>Entrada</p>
            {% endif %}
            {% if movimentacao.status == False: %}
                <p>Saída</p>
            {% endif %}
        </div>
    {% endfor%}
{% endblock %}