{% extends 'templates-barra-de-pesquisa.html' %}
{% block head %}
    {% if pesquisa == True: %}
    <a href="{{url_for('funcionarios_func', modo_escuro=modo_escuro)}}"><button>Remover filtro</button></a>
{% endif %}
{% endblock %}
{% block conteudo %}
    <a class="botao-display-block" href="{{url_for('gerar_tabela_funcionario', modo_escuro=modo_escuro)}}">Gerar tabela</a>
    {% for funcionario in var_funcionario %}
        {% if funcionario.status_funcionario == True %}
            <div class="card">
                <p>{{funcionario.nome_funcionario}}</p>
                <p>{{funcionario.CPF}}</p>
                <p>R$ {{funcionario.salario}}</p>
                {% if funcionario.status_funcionario == True: %}
                    <p>Ativo</p>
                {% endif %}
                {% if funcionario.status_funcionario == False: %}
                    <p>Desativado</p>
                {% endif %}
                <p><a href="{{url_for('editar_funcionario', id_funcionario=funcionario.ID_funcionario, modo_escuro=modo_escuro)}}">EDITAR</a></p>
            </div>
        {% else %}
            <div class="card-desativado">
                <p>{{funcionario.nome_funcionario}}</p>
                <p>{{funcionario.CPF}}</p>
                <p>R$ {{funcionario.salario}}</p>
                {% if funcionario.status_funcionario == True: %}
                    <p>Ativo</p>
                {% endif %}
                {% if funcionario.status_funcionario == False: %}
                    <p>Desativado</p>
                {% endif %}
                <p><a href="{{url_for('editar_funcionario', id_funcionario=funcionario.ID_funcionario, modo_escuro=modo_escuro)}}">EDITAR</a></p>
            </div>
        {% endif %}
    {% endfor%}
{% endblock %}