{% extends 'templates.html' %}

{% block conteudo %}
    <h2>* A quantidade dos produtos em estoque é definida com as movimentações</h2>
    {% for produto, cat in var_produto %}
        <div class="card">
            <p>{{produto.nome_produto}}</p>
            <p>Qtde.: {{produto.quantidade}}</p>
            <p></p>
            <p>Categoria: {{cat.nome_cat}}</p>
            <p>Fabricante: {{produto.fornecedor}}</p>
            <p>{{produto.data}}</p>
            <p>{{produto.Descricao}}</p>
        </div>
    {% endfor%}
{% endblock %}