{% extends 'templates-barra-de-pesquisa.html' %}
{% block head %}
    {% if pesquisa == True: %}
        <a href="{{url_for('categorias_func', modo_escuro=modo_escuro)}}"><button>Remover filtro</button></a>
    {% endif %}
{% endblock %}
{% block conteudo %}
    <a class="botao-display-block" href="{{url_for('gerar_tabela_categoria', modo_escuro=modo_escuro)}}">Gerar tabela</a>
    <div class="container">
        {% for categoria in var_categoria %}
            <div class="card">
                <p># {{ categoria.ID_categoria }} {{ categoria.nome_cat }}</p>
                <a class="botao" href="{{url_for('editar_categoria', id_categoria=categoria.ID_categoria, modo_escuro=modo_escuro)}}">EDITAR</a>
            </div>

        {% endfor%}
    </div>
{% endblock %}