{% extends 'templates-barra-de-pesquisa.html' %}
{% block head %}
    {% if pesquisa == True: %}
    <a href="{{url_for('funcionarios_func', modo_escuro=modo_escuro)}}"><button>Remover filtro</button></a>
{% endif %}
{% endblock %}
{% block conteudo %}

    {% for funcionario in var_funcionario %}
        <div class="card">
            <p>{{funcionario.nome_funcionario}}</p>
            <p>{{funcionario.CPF}}</p>
            <p>R$ {{funcionario.salario}}</p>
            <p><a href="{{url_for('editar_funcionario', id_funcionario=funcionario.ID_funcionario, modo_escuro=modo_escuro)}}">EDITAR</a></p>
        </div>
    {% endfor%}
{% endblock %}