{% extends 'templates-barra-de-pesquisa.html' %}

{% block head %}
    {% if pesquisa == True: %}
        <a href="{{url_for('produtos_func')}}"><button>Remover filtro</button></a>
    {% endif %}
{% endblock %}
{% block conteudo %}

    <h2>* A quantidade dos produtos em estoque é definida com as movimentações</h2>
    {% for produto, cat in var_produto %}
        <div class="card">
            <p>{{produto.nome_produto}}</p>
            <p>Qtde.: {{produto.quantidade}}</p>
            <p></p>
            <p>Categoria: {{cat.nome_cat}}</p>
            <p>Fabricante: {{produto.fornecedor}}</p>
            <p>{{produto.data}}</p>

            <a href="{{url_for('produto_detalhes_func', id_produto=produto.ID_produto)}}">Mais...</a>
        </div>
    {% endfor%}
{% endblock %}