<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Control</title>
    <link rel="stylesheet" href="/static/templates.css">
</head>
{% if modo_escuro == True %}
    <body class="body-black">
    <div class="container">

            <header class="header-black">
                <h1 class="cabecalho">System control</h1>

                <a href="{{url_for('home')}}"><img class="home" src="https://static.thenounproject.com/png/2137554-200.png" alt="Logo"></a>
                <form action="{{url_for('modo_escuro_func')}}" method="POST">
                    <span class="modo-escuro">
        <!--                <label for="modo-escuro">Modo Escuro</label>-->
        <!--                <input id="modo-escuro" type="checkbox" name="form-checkbox" value="True">-->
                        <button name="form-checkbox" value="0">Modo Colorido</button>
                    </span>
                </form>
            </header>
            <nav class="nav-black">
                <div class="menu">
                     <a href="{{ url_for('pagina_cadastro_func') }}"> CADASTRO</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('categorias_func') }}"> Lista categoria</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('funcionarios_func') }}"> Lista funcionario</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('movimentacao_func') }}"> Lista movimentação</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('produtos_func') }}"> Lista produto</a>
                </div>

            </nav>

        <main class="main-black">
            {%- for mens in get_flashed_messages()%}
                <p>{{mens}}</p>
            {%- endfor %}
            {% block conteudo_black %}
            {% endblock %}
        </main>
    </div>
    </body>
{% endif %}
{% if modo_escuro == False %}
    <body class="body-colorido">
    <div class="container">

            <header class="header-colorido">
                <h1 class="cabecalho">System control</h1>

                <a href="{{url_for('home')}}"><img class="home" src="https://static.thenounproject.com/png/2137554-200.png" alt="Logo"></a>
                <form action="{{url_for('modo_escuro_func')}}" method="POST">
                    <span class="modo-escuro">
        <!--                <label for="modo-escuro">Modo Escuro</label>-->
        <!--                <input id="modo-escuro" type="checkbox" name="form-checkbox" value="True">-->
                        <button name="form-checkbox" value="1">Modo Escuro</button>
                    </span>
                </form>
            </header>
            <nav class="nav-colorido">
                <div class="menu">
                     <a href="{{ url_for('pagina_cadastro_func') }}"> CADASTRO</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('categorias_func') }}"> Lista categoria</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('funcionarios_func') }}"> Lista funcionario</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('movimentacao_func') }}"> Lista movimentação</a>
                </div>
                <div class="menu">
                     <a href="{{ url_for('produtos_func') }}"> Lista produto</a>
                </div>

            </nav>

        <main class="main-colorido">
            {%- for mens in get_flashed_messages()%}
                <p>{{mens}}</p>
            {%- endfor %}
            {% block conteudo_colorido %}
            {% endblock %}
        </main>
    </div>
    </body>
{% endif %}
</html>