<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <header>
        <h1><strong>System control</strong></h1>
    </header>
    <nav>
        <div class="menu">
           <a href="{{ url_for('cadastro_categoria') }}"> Cadastro da categoria </a>
        </div>
        <div class="menu">
            <a href="{{ url_for('cadastro_funcionario') }}"> Cadastro do funcionario</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('cadastro_movimentacao') }}"> Cadastro da Movimentação</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('cadastro_produto') }}"> Cadastro do produto</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('lista_categoria') }}"> Lista categoria</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('lista_funcionario') }}"> Lista funcionario</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('lista_movimentacao') }}"> Lista movimentação</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('lista_produto') }}"> Lista produto</a>
        </div>

    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</div>
</body>
</html>