<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Control</title>
    <link rel="stylesheet" href="/static/templates.css">
</head>
<body>
<div class="container">
    <header>
        <h1><strong>System control</strong></h1>
    </header>
    <nav>
        <div class="menu">
           <a href="{{url_for('cadastro_categorias_func')}}"> Cadastro da categoria </a>

        </div>
        <div class="menu">
            <a href="{{url_for('cadastro_funcionarios_func')}}"> Cadastro do funcionario</a>
        </div>
        <div class="menu">
             <a href="{{url_for('cadastro_movimentacao_func')}}"> Cadastro da Movimentação</a>
        </div>
        <div class="menu">
             <a href="{{url_for('cadastro_produtos_func')}}"> Cadastro do produto</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('categorias_func') }}"> Lista categoria</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('funcionarios_func') }}"> Lista funcionario</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('movimentacao_func') }}"> Lista movimentação</a>
        </div>
        <div class="menu">
             <a href="{{ url_for('produtos_func') }}"> Lista produto</a>
        </div>

    </nav>
    <main>
        {%- for mens in get_flashed_messages()%}
            <p>{{mens}}</p>
        {%- endfor %}
        {% block conteudo %}
        {% endblock %}
    </main>
    <img src="" alt=""><img src="../static/Logo (1).png" height="500" width="500"/>
</div>
</body>
</html>