<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Control</title>
    <link rel="stylesheet" href="/static/templates.css">
    <link rel="icon" href="/static/Logo%20simples%20circular%20esmaltaria%20preto%20(2).png">
</head>
<body class="body{{modo_escuro}}">
<div class="container">
    <header class="header{{modo_escuro}}">
        <img class="imagem" src="/static/Logo%20simples%20circular%20esmaltaria%20preto%20(2).png" alt="" width="80" height="80">
<!--        <h1><strong>System control</strong></h1>-->
        <a href="{{url_for('dashboard_func', modo_escuro=modo_escuro)}}"><img class="icon-dashboard" src="https://cdn-icons-png.flaticon.com/512/3037/3037106.png" alt="Dashboard"></a>

        <form action="{{url_for('pesquisar_func', class_=class_, modo_escuro=modo_escuro, tabela=tabela)}}" method="post">
            <span class="display-block">
<!--                <h1>}</h1>-->
                <input type="text" name="form-pesquisa" placeholder="Pesquisar">

                <select name="campo">
                    {% for value, nome in dicio.items(): %}
                        <option value="{{value}}">{{nome}}</option>

                    {% endfor %}
                </select>

                <button type="submit" class="botao">ENVIAR</button>
            </span>
        </form>
        {% block head %}
        {% endblock %}
        <a href="{{url_for('home', modo_escuro=modo_escuro)}}"><img class="home" src="https://static.thenounproject.com/png/2137554-200.png" alt="Logo"></a>

    </header>
    <nav class="nav{{modo_escuro}}">


         <a class="menu{{modo_escuro}}" href="{{ url_for('pagina_cadastro_func', modo_escuro=modo_escuro) }}"> CADASTRO</a>


         <a class="menu{{modo_escuro}}" href="{{ url_for('categorias_func', modo_escuro=modo_escuro) }}"> Lista categoria</a>


         <a class="menu{{modo_escuro}}" href="{{ url_for('funcionarios_func', modo_escuro=modo_escuro) }}"> Lista funcionario</a>


         <a class="menu{{modo_escuro}}" href="{{ url_for('movimentacao_func', modo_escuro=modo_escuro) }}"> Lista movimentação</a>


         <a class="menu{{modo_escuro}}" href="{{ url_for('produtos_func', modo_escuro=modo_escuro) }}"> Lista produto</a>


    </nav>
    <main class="main{{modo_escuro}}">
        {%- for mens in get_flashed_messages()%}
            <p>{{mens}}</p>
        {%- endfor %}
        <h2>Nº de resultados: {{numero_resultados}}</h2>
        {% block conteudo %}
        {% endblock %}
    </main>
</div>
</body>
</html>